
         p {
                color: blue;
                font-size: 20px;
            }

            #p1 {
                color: green;
                font-weight: bold;
            }

            .paragraphc {
                background-color: yellow;
                color: maroon;
            
            }

            p.paragraphc{
                background-color: pink;
                color: maroon;
            }

            h1{
                color: red;
                font-size: 20px;
            }